/build/
/bin/
/lib/
/dist/
/test-output/
/temp*
/.settings/
/nbproject/private/
/target/
.classpath
.project
.checkstyle
*.class
*.jar
*.war
*.ear
/*.dic
/*.mvn/

**/TempTest.java
/.idea/
/threetenbp.iml
pom/gwt-unitCache/*
pom/war/*
pom/www-test/*
pom/src/main/super/*
